<div class="container">
  <div class="blobs-container">
    <p>{{ 'pages.login.welcome' | translate }}</p>
    <img class="blobs" src="./assets/login/blobs-scene.svg" alt="blobs scene" />
  </div>

  <div class="form-container">
    <h3>AUCT|ON PULSE</h3>

    <h2 class="title">{{ 'pages.login.login' | translate }}</h2>

    <form class="form-group" [formGroup]="form">
      <mat-error *ngIf="isLoginError">
        {{ 'pages.login.error' | translate }}
      </mat-error>
      <mat-form-field>
        <mat-label>{{ 'form.email.label' | translate }}</mat-label>
        <input class="input-field" matInput formControlName="email" required (keydown.enter)="onSubmit()">
        <mat-error *ngIf="form.get('email')?.errors">
          {{ 'form.email.error' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'form.password.label' | translate }}</mat-label>
        <input matInput type="password" formControlName="password" required (keydown.enter)="onSubmit()">
        <mat-error *ngIf="form.get('password')?.errors">
          {{ 'form.password.error' | translate }}
        </mat-error>
      </mat-form-field>
      <div class="button-container">
        <button type="button" mat-raised-button color="primary" (click)="register()">{{ 'button.register' | translate }}</button>
        <button type="button" mat-raised-button color="primary" (click)="onSubmit()">{{ 'button.login' | translate }}</button>
      </div>
    </form>
  </div>
</div>
